html 
    head 
        title 318-2 LAB 
        link(rel="stylesheet", href="../public/style.css")
    body 
        // The header Title
        h1(style="justify-self:center").homePageHeader Contact us Page

        // The Nav bar links
        .navBar 
            //The Navegation Links
            a(href="./home.html").homeLink HOME |
            a(href="./about.html").aboutLink ABOUT | 
            a(href="./contactUs.html").contactUsLink CONTACT US 