html 
    head 
        title 318-2 LAB About 
        link(rel="stylesheet", href="style.css")
    body 
        // The header Title
        h1(style="justify-self:center").homePageHeader About Page

        // The Nav bar links
        .navBar 
            //The Navegation Links
            a(href="./home.html").homeLink HOME |
            a(href="./about.html").aboutLink ABOUT | 
            a(href="./contactUs.html").contactUsLink CONTACT US 

        
    
    form.theForm(action="/about" method="post")
        img(src="../images/AMG.jpg" alt="image").aboutImage
        input(type="submit" value="Download").downloadBtn
