html 
    head 
        title 318-2 LAB Contact Us 
        link(rel="stylesheet", href="style.css")
    body 
        // The header Title
        h1(style="justify-self:center").homePageHeader Contact us Page

        // The Nav bar links
        .navBar 
            //The Navegation Links
            a(href="./home.html").homeLink HOME |
            a(href="./about.html").aboutLink ABOUT | 
            a(href="./contactUs.html").contactUsLink CONTACT US 

        // Adding a form to the home page
        form.theForm(action="/contactus" method="post")
            br
            br
            //User name input
            label(for="name") Name:
            input(type="text" name="name" placeholder="Full name")#name
            br
            br

            //User name input
            label(for="email") Email:
            input(type="email" name="email" placeholder="Email")#email
            br
            br

            // User Text
            label(for="textarea") Your message:
            br
            textarea(name="textarea" placeholder="Your message")#textarea
            br
            br
            // Submit
            input(type="submit" value="Submit")#submitBtn

