html 
    head 
        title 318-2 LAB HOME
        link(rel="stylesheet", href="style.css")
    body 
        // The header Title
        h1(style="justify-self:center").homePageHeader Home Page

        // The Nav bar links
        .navBar 
            //The Navegation Links
            a(href="./home.html").homeLink HOME |
            a(href="./about.html").aboutLink ABOUT | 
            a(href="./contactUs.html").contactUsLink CONTACT US
            
        h3.labNumber ALAB 318.2.1
        h1.labTitle Building an Express Application
        P(style="color:white"). 
             Now that you have foundational knowledge of Express tools and techniques, it is time to construct an application according to given requirements.
        P(class="theNote").  
            Please go to Contact us page if you need to POST 

