body {
    background-color: #333f3c;
}

.homePageHeader {
    font-weight: bold;
    color: wheat;
 
}

.navBar {
    background-color: rgb(238, 217, 179);
}

a {
    color: orange;
    text-shadow: black 1px 1px 1px;
    margin-left: 20px;;
}

label {
    color: orange;
}

input {
    background-color: wheat;
}

#textarea {
    width: 29vw;
    height: 15vh;
    background-color: wheat
}


#submitBtn {
    margin-left: 175px;
    width: 15vw;
    background-color: wheat;
    font-weight: bold;
    cursor: pointer;
}

#submitBtn:hover {
    box-shadow: white 1px 1px 10px;;
}

.labTitle {
    justify-self: center;
    color: orange;
}

.labNumber {
    color: white;
    text-decoration: underline;
}

p {
    font-size: 25px;
}

.theNote {
    color: yellow;
    font-weight: bold;
}

.aboutImage {
    width: 640px;
    height: 480px;
    justify-self: center;
    align-self: center;
    margin-top: 10vh;
    display: flex;
    border: solid orange 2px;
}

.downloadBtn {
    justify-self: center;
    display: flex;
    margin-top: 3vh;
    width: 15vw;
    height: 5vh;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.downloadBtn:hover {
    box-shadow: white 1px 1px 10px;
}